.heading{
    color: brown;

}
.banner_text{
    background-color: chocolate;
}

div p{
    background-color: crimson;
}

#sub_div h5{
    background-color: cornflowerblue;
}
.class1, .class2{
    color: darkgoldenrod;
}